@font-face {
    font-family: letra1;
    src: url(../fonts/MyriadPro-Light.otf);
}
@font-face {
    font-family: letra2;
    src: url(../fonts/MYRIADPRO-REGULAR.OTF);
}
body{ background-color: black;
    margin: 0;
    padding: 0;
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    position: relative;
    animation: cambiarfondo 2s forwards;
    animation-delay: 2s;

}
@keyframes cambiarfondo{
    0%{
        background-image: url(../img/fondo.png);
        background-color: black;
    }
    100%{
        
        background-color: white;
        background-image: none;
    }

}

.bienvenida{
    border-radius: 4em;
    background-color: white;
    width: 55%;
    height: auto;
    position: absolute;
    top: 20%;
    left: 23%;

    display: flex;
    flex-direction: column;
    align-items: center;
    animation: aparecer 3s forwards;
   
}
@keyframes aparecer{
    0% {
        opacity: 0;
    }
   
    50%{
        opacity: 1;
    }
    100%{opacity: 0;}
}


.bienvenida img{
    padding: 3%;
    
    
}
#titulo{
    font-size: 2.5em;
    font-family: letra1;
    
    
}
#pedro {
    width: 11%;
    height: auto;
    margin-top: -3em;
}
#text1{
    font-family: letra1;
    font-size: 2.5em;
}
#text2{ 
    font-family: letra1;
    font-size: 1.5em;
    margin-top: -1em;
    
    
}
.menu{
   
    animation: aparecer3 1s forwards;
    animation-delay: 2s;
    opacity: 0;
    pointer-events: none;
}

@keyframes aparecer3{
    0% {opacity: 0;
    visibility: hidden;
    pointer-events: none;
    
     
}
    100%{opacity: 1;
   visibility: visible;
   pointer-events: auto;
   
    
}

}
.cabeza img{
    width: 2.3rem;
    height: 2.3rem;
}
.cabeza{
    display: flex;
    justify-content: center;
    gap: 6rem;
    font-family: letra2;
    align-items: center;

    
}
.añadir a{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.actualizar a{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
    
}
.borrar a{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.inicio  a{
    display: flex;
    align-items: center;
    cursor: pointer; 
    text-decoration: none;
    color: black;
}
.report a{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.ayuda a{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.cerrar a{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.right {
    display: flex;
    justify-content: flex-end;
    right: 1em;
    align-items: center;
    margin-top: -3rem;
    gap: 1rem;
}
#rueda,#noti,#pp{
    cursor: pointer;
}

.linea{
    display: flex;
    width: 100%;
    border-top: 2px solid black;
    
    
}
.titulo{
    font-family: letra1;
    font-size: 1em;
    display: flex;
    justify-content: center;
    margin-top: -2em;

    
}
.descripción{
    font-family: letra1;
    font-size: 1em;
    display: flex;
    justify-content: center;
   

}
.box-titule{
    display: flex;
    
    justify-content: space-between;
    padding: 0 10em;
    margin-top: 5em;
    font-size: 1em;
    font-family: letra2;
}
.contenedor{
    display: grid;
    grid-template-columns: repeat(1,2fr);
    grid-template-rows: repeat(6,1fr);
    padding: 0 10em;
    
}
.contenedor div{
   display: flex;
    justify-content: space-between;
    border: 2px solid black;
    width: 100%;
    height: 60%;
    border-radius: 2em ;
    padding: 0 0.5em;
    
    
  
}

.hamburguesa img{
    width: 15%;
    display: none;
    

}
.contenido1{
    display: none;
}
@media only screen and (max-width: 600px) {
    body{
        background-size: cover;
        
        }
        
    .bienvenida{
        width: 90%;
        height: auto;
        left: 5%;
    }
    #titulo{
        font-size: 1em;
    }
    #pedro {
        width: 20%;
        height: auto;
        margin-top: 0;
    }
    #text1{
        font-family: letra1;
        font-size: 1em;
    }
    #text2{ 
        font-family: letra1;
        font-size: 1.5em;
        margin-top: 0;


    }
    .cabeza{
        display: none;
    }
    .right {

        margin-top: 1rem;

    }
    .hamburguesa {
        display: flex;
        align-items: center;
        
        
    }
    .hamburguesa img {
        display: block;
    }
    .descripción{
        text-align: center;
    }
    .contenido{
        display: none;
    }
    .contenido1{
        display: grid;
        grid-template-columns: repeat(2,2fr);
        grid-template-rows: repeat(9,2fr);
        padding: 2em;
    }



}
