@font-face {
    font-family: letra1;
    src: url(../fonts/MyriadPro-Light.otf);
}
@font-face {
    font-family: letra2;
    src: url(../fonts/MYRIADPRO-REGULAR.OTF);
}
body {
    background-color: black;
    margin: 0;
    padding: 0;
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    position: relative;
}
.caja {
    
    text-align: center;
    
}
.logo img {

    width: 80%;
    
   

}

.logo {

    position: absolute;
    top: 40%;
    left: 45%;
    opacity: 0;
    animation: loguito 3s 2;
}




.box-login{
    border-radius: 6em;
    background-color: white;
    width: 44%;
    height: 70%;
    position: absolute;
    top: 20%;
    left: 30%;
    opacity: 0;
    animation: aparecer 1s forwards  ;
    animation-delay: 5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
#titulo{
    font-size: 2em;
    margin-top: -0.5em;
   font-family: letra1;
}
.box-login img{
    padding: 2%;
    width: 5vw;
    
}
@keyframes loguito {
    0% {
        opacity: 0;
    }

  

    50% {
        opacity: 1;
    }

    

    100% {
        opacity: 0;
    }

    
}
@keyframes aparecer{
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#usuario{
    font-size: 1.5em;
    align-self: flex-start;
    margin-left: 15%;
    font-family: letra2;
    
}
.box1{
    align-self: flex-start;
    margin-left: 13%;
    margin-top: -2%;
    width: 13vw;
}
#contra{
    font-size: 1.5em;
    align-self: flex-start;
    margin-left: 15%;
    font-family: letra2;
   
}
.box2{
    align-self: flex-start;
    margin-left: 13%;
    margin-top: -2%;
    width: 13vw;
    
}
#text1{
    margin-top: -1.5%;
    font-family: letra2;
}
.box3{
    border-radius: 2em;
    width: 32%;
    height: 6%;
    background-color: #FF6F2C;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
    font-size: 1.5em;

    
}   
.box3 a{
    text-decoration: none;
    color: white;
    margin-top: 1%;
}
#text2{
    font-size: 0.9em;
    font-family: letra2;
}

input{
    margin: 0;
    width: 250%;
    height: 150%;
    border-radius: 80em;
    padding-left: 1em;
    font-size: 1em;

}
@media only screen and (max-width: 600px) {
    
    body{
        background-size: cover;
        
    }
    .logo{
        display: flex;
        left: 35%;

    }
    .box-login{
        width: 90%;
        height: auto;
        left: 5%;
        border-radius: 1em;
        border-radius: 3em;

    }
    .box-login img{
        width: 8vh;
    }
    #titulo{
        font-size: 1em;
        margin-top: 1em;
       font-family: letra2;
    }
    #text1{
        margin-top: -1.5%;
        font-family: letra1;
        font-size: 0.8em;
    }
    #usuario{
        font-size: 1.2em;
        align-self: flex-start;
        margin-left: 10%;
        font-family: letra1;
        margin-top: 2%;
        
    }
    .box1{
        align-self: flex-start;
        margin-left: 10%;
        margin-top: -4%;
        width: 28vw;
    }
    #contra{
        font-size: 1.2em;
        align-self: flex-start;
        margin-left: 10%;
        font-family: letra1;
        margin-top: 2%;
       
    }
    .box2{
        align-self: flex-start;
        margin-left: 10%;
        margin-top: -4%;
        width: 28vw;
        
    }
    .box3{
        width: 52%;
        height: 12%;
        font-size: 1em;
        padding: 0.5em;
    }
    #text2{
        font-size: 0.9em;
        font-family: letra1;
    }


}