@font-face {
    font-family: letra1;
    src: url(../fonts/MyriadPro-Light.otf);
}
@font-face {
    font-family: letra2;
    src: url(../fonts/MYRIADPRO-REGULAR.OTF);
}
.cabeza img{
    width: 2.3rem;
    height: 2.3rem;
}
.cabeza{
    display: flex;
    justify-content: center;
    gap: 6rem;
    font-family: letra2;
    align-items: center;
    
}
.añadir a{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.actualizar a{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
    
}
.borrar a{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.inicio a{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.report a {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.ayuda a{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.cerrar a{
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.right {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: -3rem;
    gap: 1rem;
}
#rueda,#noti,#pp{
    cursor: pointer;
}
.linea{
    display: flex;
    width: 100%;
    border-top: 2px solid black;
   
    
}
.titulo{
    font-family: letra1;
    font-size: 1em;
    display: flex;
    justify-content: center;
    margin-top: -1em;

    
}

.box-titule{
    display: flex;
    justify-content: space-between;
    padding: 0 10em;
    margin-top: 3em;
    font-size: 1em;
    font-family: letra2;
}
.contenedor{
    display: grid;
    grid-template-columns: repeat(1,2fr);
    grid-template-rows: repeat(6,1fr);
    padding: 0 10em;
    
}
.contenedor div{
   display: flex;
    justify-content: space-between;
    border: 2px solid black;
    width: 100%;
    height: 60%;
    border-radius: 2em ;
    padding: 0 0.5em;
    
    
  
}
