@font-face {
    font-family: letra1;
    src: url(../fonts/MyriadPro-Light.otf);
}
@font-face {
    font-family: letra2;
    src: url(../fonts/MYRIADPRO-REGULAR.OTF);
}
body{ background-color: black;
    margin: 0;
    padding: 0;
    background-image: url(../img/fondo.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    position: relative;
    animation: cambiarfondo 2s forwards;
    animation-delay: 2s;

}
@keyframes cambiarfondo{
    0%{
        background-image: url(../img/fondo.png);
        background-color: black;
    }
    100%{
        
        background-color: white;
        background-image: none;
    }

}

.bienvenida{
    border-radius: 4em;
    background-color: white;
    width: 55%;
    height: 60%;
    position: absolute;
    top: 20%;
    left: 23%;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: aparecer 3s forwards;
   
}
@keyframes aparecer{
    0% {
        opacity: 0;
    }
   
    50%{
        opacity: 1;
    }
    100%{opacity: 0;}
}


.bienvenida img{
    padding: 3%;
    
    
}
#titulo{
    font-size: 2.5em;
    font-family: letra1;

    
}
#pedro {
    width: 11%;
    height: auto;
    margin-top: -3em;
}
#text1{
    font-family: letra1;
    font-size: 2.5em;
}
#text2{ font-family: letra1;
    font-size: 1.5em;
    margin: 0;
}
.menu{
   
    animation: aparecer3 1s forwards;
    animation-delay: 9s;
}
@keyframes aparecer3{
    0% {opacity: 0;}
    100%{opacity: 1;}

}
.barraS {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    position: relative; 
    top: 0;
    left: 0;
  }
  
  .barraS button {
    margin: 0 10px;
    height: 25px;
    font-size: 1.3em;
  }
.separador {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    border-top: 2.5px solid rgb(114, 114, 114);
}
.menuCentro {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 2.5em;
    top: 0.5em; 
}
.menuCentro img {
    height: 1.5em;
}
#añadir {
    display: flex;
    position: absolute;
    right: 162.5vh;
    margin-top: 0.3em;
    font-size: 1.3em;
}
.añadir1 {
    display: flex;
    position: absolute;
    left: 163px;
    top: 0.3em;
    height: 25px;
}
.ref {
    display: flex;
    position: absolute;
    left: 330px;
    top: 0.3em;
    height: 25px;
    height: 23px;
}
#ref1 {
    color: #000000;
    display: flex;
    position: absolute;
    right: 138vh;
    margin-top: 0.3em;
    font-size: 1.3em;
}
.eli {
    display: flex;
    position: absolute;
    left: 504px;
    top: 0.3em;
    font-size: 0.9em;
    height: 23px;
}
#eli1 {
    display: flex;
    position: absolute;
    right: 118vh;
    margin-top: 0.3em;
    font-size: 1.3em;
}
.rep {
    display: flex;
    position: absolute;
    left: 922px;
    top: 0.3em;
    height: 27px;
}
#rep1 {
    display: flex;
    position: absolute;
    margin-top: 0.3em;
    font-size: 1.3em;
    right: 63vh;
}
.ayu {
    display: flex;
    position: absolute;
    left: 1115px;
    top: 0.3em;
    height: 27px;
    
}
#ayu1 {;
    display: flex;
    position: absolute;
    margin-top: 0.3em;
    font-size: 1.3em;
    right: 41vh;
}
.der {
    display: flex;
    position: absolute;
    left: 1489px;
    top: 0.3em;
}
.der img {
    height: 1.9em;
}
.noti {
    display: flex;
    position: absolute;
    left: 1465px;
    top: 0.7em;
}
.set {
    display: flex;
    position: absolute;
    left: 1440px;
    top: 0.7em;
}
.sal {
    display: flex;
    position: absolute;
    left: 1235px;
    top: 0.4em;
    height: 23px;
}
#sal1 {
    display: flex;
    position: absolute;
    margin-top: 0.3em;
    font-size: 1.3em;
    margin-left: 161vh;
}
.grupos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 220px;
    padding-right: 55px;
}
.grupo img {
    width: 1400px;
    height: auto;
    top: 100%;
}

.txts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: -635px;  
}
#titulo{
    font-weight: bold;
}
#iN { 
    position: absolute;
    top: 180px;    
    left: 85px;    
    font-weight: bold;
}
#dE {
    position: absolute;
    top: 180px;
    left: 310px;
    font-weight: bold;
}
#cA {
    position: absolute;
    top: 180px;
    left: 500px;
    font-weight: bold;
}
#fI {
    position: absolute;
    top: 180px;
    left: 620px;
    font-weight: bold;
}
#fT {
    position: absolute;
    top: 180px;
    left: 777px;
    font-weight: bold;
}
#fO {
    position: absolute;
    top: 180px;
    left: 973px;
    font-weight: bold;
}
#fR { 
    position: absolute;
    top: 180px;
    left: 1073px;
    font-weight: bold;
}
#cU { 
    position: absolute;
    top: 180px;
    left: 1190px;
    font-weight: bold;
}
#aR { 
    position: absolute;
    top: 180px;
    left: 1350px;
    font-weight: bold;
}
.grupo1 {
    display: block;
    margin: 38px auto 0% 1450px;
    top: 12px;
    position: relative;
}